[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "seminr"]
	path = seminr
	url = https://github.com/cran/seminr
	shallow = true
	registered = true
